APP_NAME=LaporOB
COMPANY_NAME=PT WGS
LOGO_URL=/uploads/wgs-logo.png

DATABASE_URL="postgresql://devuser:devpassword@postgres_db:5432/lapor_ob?schema=public"
JWT_TOKEN=[token]
APP_PORT=8000

BACKEND_BASE_URL=http://localhost:8000
FRONTEND_BASE_URL=http://localhost:3000

STORAGE_PROVIDER=local

# Kalo STORAGE_PROVIDER=cloud, isi ini:
CLOUD_UPLOAD_URL=
CLOUD_UPLOAD_API_KEY=

REDIS_PASSWORD=[password]
REDIS_URL=redis://default:[password]@redis:6379

EMAIL_DRIVER=gmail
EMAIL_PORT=587

SMTP_HOST=smtp.gmail.com
SMTP_USER=
SMTP_PASS=

MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_API_KEY=
MAILTRAP_SENDER=
MAILTRAP_INBOX_ID=


