DATABASE_URL="postgresql://devuser:devpassword@postgres_db:5432/lapor_ob?schema=public"
JWT_TOKEN=[token]
APP_PORT=8000

BACKEND_BASE_URL=http://localhost:8000
FRONTEND_BASE_URL=http://localhost:3000

STORAGE_PROVIDER=local
REDIS_PASSWORD=[password]
REDIS_URL=redis://default:[password]@redis:6379

# Branding 
APP_NAME=LaporOB
COMPANY_NAME=PT WGS
LOGO_URL=/uploads/wgs-logo.png

# Kalo STORAGE_PROVIDER=cloud, isi ini:
CLOUD_UPLOAD_URL=
CLOUD_UPLOAD_API_KEY=
