DATABASE_URL="postgresql://[user]:[password]@localhost:5432/mydb?schema=public"
JWT_TOKEN=[token]
APP_PORT=8000

BACKEND_BASE_URL=https://stylar-nonseverable-denver.ngrok-free.dev
FRONTEND_BASE_URL=http://localhost:3000

STORAGE_PROVIDER=dev
